StudentSystem/Services/StudentSystem.Services.Api/Connected Services/SemestersServiceSoap/SemestersService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StudentSystem.Services.Models.Web.Disciplines" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StudentSystem.Services.Models.Web.Disciplines" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49158/SemestersService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/StudentSystem.Services.Models.Web.Professors" />
  <xs:import schemaLocation="http://localhost:49158/SemestersService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/StudentSystem.Services.Models.Web.Scores" />
  <xs:import schemaLocation="http://localhost:49158/SemestersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StudentSystem.Services.Models.Web.Semesters" />
  <xs:import schemaLocation="http://localhost:49158/SemestersService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/StudentSystem.Services.Models.Web.Base" />
  <xs:complexType name="ArrayOfDisciplineResponseModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DisciplineResponseModel" nillable="true" type="tns:DisciplineResponseModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDisciplineResponseModel" nillable="true" type="tns:ArrayOfDisciplineResponseModel" />
  <xs:complexType name="DisciplineResponseModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/StudentSystem.Services.Models.Web.Base" base="q1:BaseResponseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StudentSystem.Services.Models.Web.Professors" minOccurs="0" name="Professor" nillable="true" type="q2:ProfessorResponseModel" />
          <xs:element minOccurs="0" name="ProfessorId" type="xs:int" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StudentSystem.Services.Models.Web.Scores" minOccurs="0" name="Scores" nillable="true" type="q3:ArrayOfScoreResponseModel" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/StudentSystem.Services.Models.Web.Semesters" minOccurs="0" name="Semester" nillable="true" type="q4:SemesterResponseModel" />
          <xs:element minOccurs="0" name="SemesterId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DisciplineResponseModel" nillable="true" type="tns:DisciplineResponseModel" />
</xs:schema>