StudentSystem/Services/StudentSystem.Services.Api/Connected Services/SemestersServiceSoap/SemestersService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SemestersService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49158/SemestersService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49158/SemestersService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49158/SemestersService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/StudentSystem.Services.Models.Web.Semesters" />
      <xsd:import schemaLocation="http://localhost:49158/SemestersService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/StudentSystem.Services.Models.Web.Base" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISemestersService_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="ISemestersService_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="ISemestersService_All_InputMessage">
    <wsdl:part name="parameters" element="tns:All" />
  </wsdl:message>
  <wsdl:message name="ISemestersService_All_OutputMessage">
    <wsdl:part name="parameters" element="tns:AllResponse" />
  </wsdl:message>
  <wsdl:message name="ISemestersService_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="ISemestersService_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ISemestersService_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="ISemestersService_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="ISemestersService">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="http://tempuri.org/ISemestersService/Create" message="tns:ISemestersService_Create_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISemestersService/CreateResponse" message="tns:ISemestersService_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="All">
      <wsdl:input wsaw:Action="http://tempuri.org/ISemestersService/All" message="tns:ISemestersService_All_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISemestersService/AllResponse" message="tns:ISemestersService_All_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/ISemestersService/Update" message="tns:ISemestersService_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISemestersService/UpdateResponse" message="tns:ISemestersService_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/ISemestersService/Delete" message="tns:ISemestersService_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISemestersService/DeleteResponse" message="tns:ISemestersService_Delete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISemestersService" type="tns:ISemestersService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/ISemestersService/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="All">
      <soap:operation soapAction="http://tempuri.org/ISemestersService/All" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/ISemestersService/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/ISemestersService/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SemestersService">
    <wsdl:port name="BasicHttpBinding_ISemestersService" binding="tns:BasicHttpBinding_ISemestersService">
      <soap:address location="http://localhost:49158/SemestersService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>