StudentSystem/Services/StudentSystem.Services.Api/Connected Services/StudentsServiceSoap/StudentsService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StudentSystem.Services.Models.Web.Students" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StudentSystem.Services.Models.Web.Students" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StudentRequestModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StudentRequestModel" nillable="true" type="tns:StudentRequestModel" />
  <xs:complexType name="UpdateStudentRequestModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StudentRequestModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateStudentRequestModel" nillable="true" type="tns:UpdateStudentRequestModel" />
</xs:schema>