StudentSystem/Services/StudentSystem.Services.Api/Connected Services/DisciplinesServiceSoap/DisciplinesService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/StudentSystem.Services.Models.Web.Disciplines" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/StudentSystem.Services.Models.Web.Disciplines" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49158/DisciplinesService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/StudentSystem.Services.Models.Web.Professors" />
  <xs:import schemaLocation="http://localhost:49158/DisciplinesService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/StudentSystem.Services.Models.Web.Scores" />
  <xs:import schemaLocation="http://localhost:49158/DisciplinesService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/StudentSystem.Services.Models.Web.Base" />
  <xs:complexType name="DisciplineRequestModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProfessorId" type="xs:int" />
      <xs:element minOccurs="0" name="SemesterId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DisciplineRequestModel" nillable="true" type="tns:DisciplineRequestModel" />
  <xs:complexType name="ArrayOfDisciplineResponseModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DisciplineResponseModel" nillable="true" type="tns:DisciplineResponseModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDisciplineResponseModel" nillable="true" type="tns:ArrayOfDisciplineResponseModel" />
  <xs:complexType name="DisciplineResponseModel">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/StudentSystem.Services.Models.Web.Base" base="q1:BaseResponseModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/StudentSystem.Services.Models.Web.Professors" minOccurs="0" name="Professor" nillable="true" type="q2:ProfessorResponseModel" />
          <xs:element minOccurs="0" name="ProfessorId" type="xs:int" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/StudentSystem.Services.Models.Web.Scores" minOccurs="0" name="Scores" nillable="true" type="q3:ArrayOfScoreResponseModel" />
          <xs:element minOccurs="0" name="SemesterId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DisciplineResponseModel" nillable="true" type="tns:DisciplineResponseModel" />
  <xs:complexType name="UpdateDisciplineRequestModel">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DisciplineRequestModel">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateDisciplineRequestModel" nillable="true" type="tns:UpdateDisciplineRequestModel" />
</xs:schema>